In [3]:
#load in data frame
import pandas as pd

df = pd.read_csv('lung_data.txt', delimiter='\t')
df.head(5)

,ID,adj.P.Val,P.Value,t,B,logFC,Gene.symbol,Gene.title
0,ILMN_1664440,3.110000e-12,6.580000e-17,-8.596378,27.713593,-0.146161,TP53BP1,tumor protein p53 binding protein 1
1,ILMN_2362902,5.150000e-12,2.870000e-16,-8.405651,26.286588,-0.185771,RASSF5,Ras association domain family member 5
2,ILMN_1788931,5.150000e-12,3.260000e-16,-8.388945,26.162796,-0.255432,DOCK8,dedicator of cytokinesis 8
3,ILMN_1753468,1.060000e-11,8.980000e-16,8.255686,25.182409,0.296460,NaN,NaN
4,ILMN_1773117,2.860000e-11,3.190000e-15,-8.086611,23.956639,-0.249833,BCOR,BCL6 corepressor

In [4]:
#filtering out NaN
#print("hello")
index = df.index
num_row = len(index)
        
vals = df.loc[pd.isna(df["Gene.symbol"]), :].index

data = {'ID':  [],
        'adj.P.Val': [],
        'P.Value': [],
        't': [],
        'B': [],
        'logFC': [],
        'Gene.symbol': [],
        'Gene.title': []
         }
newer_df = pd.DataFrame(data=data)

for row in range(num_row-47250):
    add = row in vals
    #print(add)
    if (add == False):
        data = {'ID':  [df.iloc[row, 0]],
        'adj.P.Val': [df.iloc[row, 1]],
        'P.Value': [df.iloc[row, 2]],
        't': [df.iloc[row, 3]],
        'B': [df.iloc[row, 4]],
        'logFC': [df.iloc[row, 5]],
        'Gene.symbol': [df.iloc[row, 6]],
        'Gene.title': [df.iloc[row, 7]]
         }
        temp = pd.DataFrame(data=data)
        newer_df = newer_df.append(temp, ignore_index=True)
newer_df.head(5)

,ID,adj.P.Val,P.Value,t,B,logFC,Gene.symbol,Gene.title
0,ILMN_1664440,3.110000e-12,6.580000e-17,-8.596378,27.713593,-0.146161,TP53BP1,tumor protein p53 binding protein 1
1,ILMN_2362902,5.150000e-12,2.870000e-16,-8.405651,26.286588,-0.185771,RASSF5,Ras association domain family member 5
2,ILMN_1788931,5.150000e-12,3.260000e-16,-8.388945,26.162796,-0.255432,DOCK8,dedicator of cytokinesis 8
3,ILMN_1773117,2.860000e-11,3.190000e-15,-8.086611,23.956639,-0.249833,BCOR,BCL6 corepressor
4,ILMN_2087575,2.860000e-11,4.100000e-15,-8.052681,23.713112,-0.202347,ZC3H4,zinc finger CCCH-type containing 4

In [5]:
#selecting top 50
genes_df = newer_df.iloc[0:50, :]

genes_df.head(5)

,ID,adj.P.Val,P.Value,t,B,logFC,Gene.symbol,Gene.title
0,ILMN_1664440,3.110000e-12,6.580000e-17,-8.596378,27.713593,-0.146161,TP53BP1,tumor protein p53 binding protein 1
1,ILMN_2362902,5.150000e-12,2.870000e-16,-8.405651,26.286588,-0.185771,RASSF5,Ras association domain family member 5
2,ILMN_1788931,5.150000e-12,3.260000e-16,-8.388945,26.162796,-0.255432,DOCK8,dedicator of cytokinesis 8
3,ILMN_1773117,2.860000e-11,3.190000e-15,-8.086611,23.956639,-0.249833,BCOR,BCL6 corepressor
4,ILMN_2087575,2.860000e-11,4.100000e-15,-8.052681,23.713112,-0.202347,ZC3H4,zinc finger CCCH-type containing 4

In [6]:
#loading in expression data
exprs_df = pd.read_csv('express_vals.csv')
exprs_df.head(5)

,Unnamed: 0,GSM4003137,GSM4003138,GSM4003139,GSM4003140,GSM4003141,GSM4003142,GSM4003143,GSM4003144,GSM4003145,...,GSM4003835,GSM4003836,GSM4003837,GSM4003838,GSM4003839,GSM4003841,GSM4003842,GSM4003843,GSM4003844,GSM4003846
0,ILMN_1343291,16.076315,16.124424,16.095047,16.029287,16.024707,16.079714,16.036667,16.045162,16.012494,...,16.083832,16.032089,15.979403,16.013126,15.876085,16.115064,15.914011,16.131957,16.165064,15.979224
1,ILMN_1343295,12.931088,13.061945,13.070842,12.561837,13.293184,12.598936,12.494831,13.437622,12.804292,...,12.793339,13.900961,13.367142,13.242623,13.085306,12.917074,13.125107,12.999331,13.540855,13.463013
2,ILMN_1651199,7.837313,7.794611,7.607996,7.876824,7.793376,7.912770,7.892695,7.413120,7.555969,...,7.379898,7.341096,8.006410,7.348108,7.944917,7.737957,7.634956,7.667112,7.818902,7.831181
3,ILMN_1651209,8.461316,8.387630,7.897543,8.306928,8.362295,7.843921,8.179113,8.037272,8.082681,...,8.271230,8.390986,8.326969,8.520697,8.266833,8.283783,8.051481,8.196086,8.295723,8.283135
4,ILMN_1651210,8.070336,7.842602,8.011059,7.415995,7.681801,7.874920,7.769970,7.838511,7.558727,...,7.486553,7.505018,7.800576,7.698080,7.518850,7.200457,7.919042,7.740253,7.829088,7.685099

In [7]:
print(genes_df.head(3))
print()
print(exprs_df.shape)

             ID     adj.P.Val       P.Value         t          B     logFC  \
0  ILMN_1664440  3.110000e-12  6.580000e-17 -8.596378  27.713593 -0.146161
1  ILMN_2362902  5.150000e-12  2.870000e-16 -8.405651  26.286588 -0.185771
2  ILMN_1788931  5.150000e-12  3.260000e-16 -8.388945  26.162796 -0.255432

  Gene.symbol                              Gene.title
0     TP53BP1     tumor protein p53 binding protein 1
1      RASSF5  Ras association domain family member 5
2       DOCK8              dedicator of cytokinesis 8

(47323, 625)

In [8]:
#reducing expression set to top 50 genes
drops = []
top_exprs_df = exprs_df.copy()
x1, y1 = genes_df.shape
x2, y2 = exprs_df.shape
for rows in range(x1):
    add = genes_df.iloc[rows, 0]
    drops.append(add)

rid = []
for ind in range(x2):
    gate = exprs_df.iloc[ind, 0] in drops#genes_df.iloc[:,0]
    if (gate == False):
        #top_exprs_df = exprs_df.drop([ind])
        rid.append(ind)

top_exprs_df = exprs_df.drop(rid)

In [9]:
print(top_exprs_df.shape)
print(drops[0:5])
top_exprs_df.head(3)

(50, 625)
['ILMN_1664440', 'ILMN_2362902', 'ILMN_1788931', 'ILMN_1773117', 'ILMN_2087575']

,Unnamed: 0,GSM4003137,GSM4003138,GSM4003139,GSM4003140,GSM4003141,GSM4003142,GSM4003143,GSM4003144,GSM4003145,...,GSM4003835,GSM4003836,GSM4003837,GSM4003838,GSM4003839,GSM4003841,GSM4003842,GSM4003843,GSM4003844,GSM4003846
905,ILMN_1655163,13.448116,12.688163,13.078368,13.623081,13.323196,12.672226,13.531747,13.626508,13.450438,...,13.025693,13.231386,13.138128,13.138128,13.453399,13.213362,13.161541,13.255486,13.480412,13.267518
3010,ILMN_1664440,9.334206,9.221007,8.718910,9.273283,9.264982,8.985301,9.429721,9.280353,9.250014,...,8.922019,9.625837,8.908453,9.401071,9.270342,9.553072,9.093365,8.988599,9.071328,9.192268
3154,ILMN_1665164,9.455039,9.381673,9.135504,9.508349,9.295861,9.219362,9.469988,9.405588,9.519184,...,9.542413,9.502315,9.276124,9.051046,9.600433,9.564283,9.578505,9.324271,9.311408,9.392124

In [10]:
#get classes
classes_df = pd.read_csv('class.csv')
classes_df.head(20)

,Unnamed: 0,title,geo_accession,status,submission_date,last_update_date,type,channel_count,source_name_ch1,organism_ch1,...,packyears:ch1,patient sample id:ch1,patient:ch1,post treatment days:ch1,post treatment sample:ch1,race:ch1,smoking:ch1,tissue:ch1,training set:ch1,validation set:ch1
0,GSM4003137,"Whole blood, BN.T.514W.pre.1",GSM4003137,Public on Aug 02 2020,Aug 02 2019,Aug 02 2020,RNA,1,Whole blood,Homo sapiens,...,34,1,514W,na,no,caucasian,quit,whole blood,no,yes
1,GSM4003138,"Whole blood, MN.T.533W.pre.1",GSM4003138,Public on Aug 02 2020,Aug 02 2019,Aug 02 2020,RNA,1,Whole blood,Homo sapiens,...,0,1,533W,na,no,african american,never,whole blood,yes,no
2,GSM4003139,"Whole blood, MN.T.547W.pre.1",GSM4003139,Public on Aug 02 2020,Aug 02 2019,Aug 02 2020,RNA,1,Whole blood,Homo sapiens,...,na,1,547W,na,no,african american,quit,whole blood,yes,no
3,GSM4003140,"Whole blood, BN.T.567W.pre.1",GSM4003140,Public on Aug 02 2020,Aug 02 2019,Aug 02 2020,RNA,1,Whole blood,Homo sapiens,...,0,1,567W,na,no,other,never,whole blood,yes,no
4,GSM4003141,"Whole blood, MN.T.575W.pre.1",GSM4003141,Public on Aug 02 2020,Aug 02 2019,Aug 02 2020,RNA,1,Whole blood,Homo sapiens,...,14,1,575W,na,no,african american,quit,whole blood,no,yes
5,GSM4003142,"Whole blood, BN.T.583W.pre.1",GSM4003142,Public on Aug 02 2020,Aug 02 2019,Aug 02 2020,RNA,1,Whole blood,Homo sapiens,...,49,1,583W,na,no,african american,quit,whole blood,yes,no
6,GSM4003143,"Whole blood, BN.T.586W.pre.1",GSM4003143,Public on Aug 02 2020,Aug 02 2019,Aug 02 2020,RNA,1,Whole blood,Homo sapiens,...,55,1,586W,na,no,african american,quit,whole blood,no,yes
7,GSM4003144,"Whole blood, BN.T.597W.pre.1",GSM4003144,Public on Aug 02 2020,Aug 02 2019,Aug 02 2020,RNA,1,Whole blood,Homo sapiens,...,45,1,597W,na,no,caucasian,quit,whole blood,yes,no
8,GSM4003145,"Whole blood, BN.T.622W.pre.1",GSM4003145,Public on Aug 02 2020,Aug 02 2019,Aug 02 2020,RNA,1,Whole blood,Homo sapiens,...,150,1,622W,na,no,caucasian,quit,whole blood,yes,no
9,GSM4003146,"Whole blood, BN.T.636W.pre.1",GSM4003146,Public on Aug 02 2020,Aug 02 2019,Aug 02 2020,RNA,1,Whole blood,Homo sapiens,...,21,1,636W,na,no,african american,smoker,whole blood,no,yes
10,GSM4003147,"Whole blood, MN.T.615W.post.84",GSM4003147,Public on Aug 02 2020,Aug 02 2019,Aug 02 2020,RNA,1,Whole blood,Homo sapiens,...,na,1,615W,84,yes,african american,quit,whole blood,no,no
11,GSM4003148,"Whole blood, BN.T.618W.pre.1",GSM4003148,Public on Aug 02 2020,Aug 02 2019,Aug 02 2020,RNA,1,Whole blood,Homo sapiens,...,140,1,618W,na,no,caucasian,quit,whole blood,no,yes
12,GSM4003149,"Whole blood, BN.T.630W.pre.1",GSM4003149,Public on Aug 02 2020,Aug 02 2019,Aug 02 2020,RNA,1,Whole blood,Homo sapiens,...,25,1,630W,na,no,african american,quit,whole blood,no,yes
13,GSM4003150,"Whole blood, MN.T.644W.post.62",GSM4003150,Public on Aug 02 2020,Aug 02 2019,Aug 02 2020,RNA,1,Whole blood,Homo sapiens,...,135,1,644W,62,yes,caucasian,quit,whole blood,no,no
14,GSM4003151,"Whole blood, BN.T.646W.pre.1",GSM4003151,Public on Aug 02 2020,Aug 02 2019,Aug 02 2020,RNA,1,Whole blood,Homo sapiens,...,30,1,646W,na,no,caucasian,quit,whole blood,yes,no
15,GSM4003152,"Whole blood, MN.H.CCHS_1001.pre.1",GSM4003152,Public on Aug 02 2020,Aug 02 2019,Aug 02 2020,RNA,1,Whole blood,Homo sapiens,...,60,1,CCHS_1001,na,no,caucasian,quit,whole blood,yes,no
16,GSM4003153,"Whole blood, MN.H.CCHS_1002.pre.1",GSM4003153,Public on Aug 02 2020,Aug 02 2019,Aug 02 2020,RNA,1,Whole blood,Homo sapiens,...,40.5,1,CCHS_1002,na,no,caucasian,quit,whole blood,no,yes
17,GSM4003154,"Whole blood, MN.H.CCHS_1003.pre.1",GSM4003154,Public on Aug 02 2020,Aug 02 2019,Aug 02 2020,RNA,1,Whole blood,Homo sapiens,...,60,1,CCHS_1003,na,no,caucasian,quit,whole blood,yes,no
18,GSM4003155,"Whole blood, MN.H.CCHS_1004.pre.1",GSM4003155,Public on Aug 02 2020,Aug 02 2019,Aug 02 2020,RNA,1,Whole blood,Homo sapiens,...,75,1,CCHS_1004,na,no,caucasian,quit,whole blood,yes,no
19,GSM4003156,"Whole blood, MN.H.CCHS_1005.pre.1",GSM4003156,Public on Aug 02 2020,Aug 02 2019,Aug 02 2020,RNA,1,Whole blood,Homo sapiens,...,10,1,CCHS_1005,na,no,african american,quit,whole blood,no,yes

In [11]:
#create ordered list of classes compared to top_exprs_df
x1, y1 = top_exprs_df.shape
x2, y2 = classes_df.shape
classes = [] #1: MN, 2: BN
temp = list(top_exprs_df.columns)
for col in range(y1-1):
    gsm = temp[col+1]
    for row in range(x2):
        comp = classes_df.iloc[row, 0]
        if (gsm == comp):
            test = classes_df.iloc[row, 1]
            if('MN' in test):
                classes.append(0)
            else:
                classes.append(1)

In [12]:
classes[0:10]

[1, 0, 0, 1, 0, 1, 1, 1, 1, 1]

In [13]:
#creating final df
train_df = top_exprs_df.transpose()

col_names = list(train_df.columns)
x1, y1 = train_df.shape
for col in range(y1):
    change = train_df.iloc[0, col]
    train_df = train_df.rename(columns={col_names[col]:change})
    
train_df = train_df.drop(['Unnamed: 0'])

train_df['class'] = classes

In [14]:
train_df.head(3)

,ILMN_1655163,ILMN_1664440,ILMN_1665164,ILMN_1673305,ILMN_1681675,ILMN_1682264,ILMN_1694603,ILMN_1701244,ILMN_1702171,ILMN_1705433,...,ILMN_2227573,ILMN_2319910,ILMN_2329834,ILMN_2349006,ILMN_2362902,ILMN_3237241,ILMN_3238560,ILMN_3261197,ILMN_3297945,class
GSM4003137,13.4481,9.33421,9.45504,10.907,10.0749,11.9009,11.4183,10.1355,9.64604,8.98271,...,12.087,10.0441,10.1639,9.26859,13.5594,11.242,10.4479,8.78741,11.9947,1
GSM4003138,12.6882,9.22101,9.38167,10.6395,9.67165,11.361,11.3938,10.1721,9.52486,8.87357,...,12.2094,10.4694,10.1197,9.08148,13.0734,11.0215,10.0048,8.87811,12.1319,0
GSM4003139,13.0784,8.71891,9.1355,10.8699,9.56913,11.1297,11.0643,9.81028,9.85758,8.97619,...,12.5694,9.49995,9.66142,8.58278,13.0028,11.3736,10.8056,9.42042,11.5256,0

In [15]:
#import libraries for AI
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
#create a train test split
x = train_df.drop('class', axis=1)
y = train_df['class']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=5155)

In [17]:
#run model
model = GaussianNB()
model.fit(x_train, y_train)

GaussianNB()

In [18]:
#make predictions
y_pred = model.predict(x_test)
print(y_pred)

[1 0 0 0 0 1 1 1 1 1 1 1 0 0 1 0 0 1 0 0 0 0 0 0 0 1 1 0 1 1 1 0 1 1 0 0 1
 0 1 0 1 0 0 1 0 0 0 1 0 0 0 1 0 1 0 0 0 1 1 0 0 0 0 1 0 0 1 1 0 0 1 1 0 1
 0 1 0 0 0 1 1 1 0 1 0 1 1 0 1 0 0 0 0 1 0 0 0 1 1 0 0 1 0 0 0 0 1 1 0 1 1
 1 0 1 0 0 0 0 1 1 0 0 1 0 1 1 0 1 1 0 1 0 0 1 0 0 0 1 0 0 0 1 1 0 0 0 1 0
 0 0 1 0 0 0 0 1 1 0 0 1 1 1 0 0 0 1 1 0 1 0 0 1 0 1 1 0 0 1 1 0 1 0 0 1 0
 1 0 0]

In [19]:
#measure the accuracy
accuracy = accuracy_score(y_test, y_pred)*100
accuracy

80.31914893617021

In [20]:
from sklearn.metrics import confusion_matrix

print(confusion_matrix(y_test, y_pred))

[[96 25]
 [12 55]]

In [36]:
p=0
for x in y_pred:
    if x==0:
        p+=1
print(p)

one = 0
zero = 0
for x in y_test:
    if x==1:
        one+=1
    elif x==0:
        zero+=1
print(one, zero)

one = 0
zero = 0
for x in train_df.iloc[:, -1]:
    if x==1:
        one+=1
    elif x==0:
        zero+=1
print(one, zero)

108
67 121
220 404

In [19]:
#best random parameter
best_score = 0
best_parameter = 0
for z in range(10000):
    x = train_df.drop('class', axis=1)
    y = train_df['class']
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=z)
    model = GaussianNB()
    model.fit(x_train, y_train)
    y_pred = model.predict(x_test)
    accuracy = accuracy_score(y_test, y_pred)*100
    if (accuracy > best_score):
        best_score=accuracy
        best_parameter=z
print(best_score, best_parameter)

80.31914893617021 5155